.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
    box-shadow: 5px 5px 5px lemonchiffon;
}
.heading_div {
    float: none;
    background: lightblue;
    padding: 10px;
    border-radius: 20px;
    color:lightslategray;
    box-shadow: 5px 5px 5px cadetblue;
}
.heading_div2 {
    font-size: 18px;
}
.nice_class {
    box-shadow: 5px 10px 5px lightgray;
    font-size: 20px;
}
.good_class {
    box-shadow: 5px 10px 5px lightgrey;
    font-size: 20px;
}
.copy_right_footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color: lightsteelblue;
    text-align: center;
    font-size: 30px;
}
canvas {
    border: 5px solid lightseagreen;
    border-radius: 20px;
    box-shadow: 5px 10px 5px  grey;
    margin-top: 150px;
}
